<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark :: Web Site</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.jpg" alt="Logo Meadowlark" />
        </header>
        
        {{{body}}}
    </body>
</html>