<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>Handlebars :: Web Site</title>
        <style>
            header { background-color:darkcyan;  margin:0; }
            h1 { color: white; padding:4em auto; font-family: :Arial, Verdana; text-align: center; }
            .wellcome-customer { text-align:  right; }
        </style>
    </head>

    <body>
        <header>
            <h1>Meadowlark Microsite</h1>
        </header>
        
        {{{body}}}
    </body>
</html>