<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars :: Web Site</title>
    </head>
    <body>
        <header>
            <img src="/img/logo-google.png" alt="Logo da google.com" />
        </header>
        
        {{{body}}}
        
    </body>
</html>