<div class="wellcome-customer">
    Wellcome <b>{{nome}}</b>!
</div>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra dolor quis lacus fermentum sodales. 
    Ut euismod tempor enim condimentum fringilla. Aenean a scelerisque lectus, a bibendum mauris. 
    Aenean dictum a libero et lacinia. Nulla pellentesque consectetur massa auctor condimentum. 
    Nullam pellentesque imperdiet eros, nec luctus dui aliquam sagittis. Nam vitae feugiat libero. 
    Aliquam lacinia vitae enim sit amet tincidunt. Fusce vulputate nunc a sollicitudin eleifend. 
    Nulla efficitur feugiat orci in ornare. Nam mollis tellus ac est fermentum, in sodales elit posuere.
</p>